body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 80px;
  margin: 50px 0 auto 0;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  line-height: 1;

}

.perfil_img {
  margin-top: 20px;
  border-radius: 100px;
  object-fit: cover;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
}

.parrafo {
  font-size: 1.5rem;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
}

.top_container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.imagen_skill1 {
  width: 25%;
  float: left; 
  margin-right: 30px;
}

.imagen_skill2 {
  width: 25%;
  float: right;
  margin-left: 30px;
}


.top_planet {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom_planet {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

hr {
  border-width: 6px;
  border-style: dotted none none none;
  border-color: #c4e9e9;
  width: 50px;
  margin: 80px auto;
}

.contacto_f {
  border-radius: 8px;
  border: none;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px;
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  margin: 50px auto;
}

.contacto_f:hover {
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
}

.bottom-container {
  background-color: #66BFBF;
  width: 100%;
}

a {
  
  text-decoration: none;
  padding: 20px;
}

.pie_pag {
  color: #ffffff;
  padding: 20px;
}